page {
  background-color: var(--colorGray);

  .wrap {
    margin-top: 15rpx;
    background-color: #fff;
    display: flex;
    height: 188rpx;
    align-items: center;
    position: relative;
    
    .name {
      position: absolute;
      left: 30rpx;
      top: 10rpx;
      width: 320rpx;
      text-align: center;
      // color: #aaa;
      color: #489CD7;
      font-size: 28rpx;
    }
    .item {
      flex: 0 0 25%;
      text-align: center;

      &:first-child {
        border-right: 1rpx solid #ddd;
      }
    }

    .check-goods {
      color: #489CD7;
      border: 1px solid #489CD7;
      padding: 0 10rpx;
      border-radius: 20rpx;
      position: absolute;
      left: 350rpx;
      bottom: 70rpx;
    }

    .check-shop {
      color: #489CD7;
      border: 1px solid #489CD7;
      padding: 0 10rpx;
      border-radius: 20rpx;
      position: absolute;
      left: 550rpx;
      bottom: 70rpx;
    }
  }
}