@color_blue: #489CD7;
@color_icon: #aaa;
@h: 10;

.wrap {
  height: 100vh;
  background-color: var(--colorGray);
  overflow: auto;
  .comment {
    background-color: #fff;
    width: 718rpx;
    margin-left: 16rpx;
    margin-top: 15rpx;
    padding: 32rpx 34rpx 32rpx;
    border-radius: 10rpx;
    position: relative;
    box-shadow: 0 0 10rpx 0 #F2F2F2;
    .item {
      .headPic {
        width: 85rpx;
        height: 85rpx;
        border-radius: 41rpx;
        background-size: 100% 100%;
      }
      .info {
        width: calc(100% - 105rpx);
        float: right;
        .info-top {
          .name {
            max-width: 450rpx;
            height: 56rpx;
            line-height: 56rpx;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 26rpx;
            font-weight: bold;
            color: #666;
            position: absolute;
            top: (18rpx + @h);
            left: 140rpx;
            image {
              width: 26rpx;
              height: 26rpx;
              vertical-align: middle;
              position: relative;
              top: -2rpx;
            }
          }
          .dot {
            width: 50rpx;
            height: 50rpx;
            padding: 10rpx;
            margin-right: 10rpx;
            position: absolute;
            top: 52rpx;
            right: 16rpx;
          }
          .video {
            height: 36rpx;
            line-height: 34rpx;
            padding: 0 20rpx;
            border-radius: 21rpx;
            color: #fff;
            position: absolute;
            top: (30rpx+@h);
            right: 100rpx;
            background-color: #43D7B5;
            font-size: 22rpx;
          }
        }
        .info-bottom {
          font-size: 20rpx;
          color: @color_icon;
          position: absolute;
          left: 140rpx;
          top: (74rpx+@h);
          height: 28rpx;
          line-height: 28rpx;
          .date {
            font-size: 22rpx;
          }
          .time {
            margin-left: 10rpx;
          }
        }
      }
  
    }
    .desc {
      display: inline-block;
      line-height: 44rpx;
      font-size: 32rpx;
      margin-top: 28rpx;
    }
    .img {
      margin-top: 20rpx;
      image {
        float: left;
        margin-left: 10rpx;
        margin-bottom: 10rpx;
        width: 206rpx;
        height: 206rpx;
        border-radius: 15rpx;
      }
    }
    .footer {
      margin-top: 25rpx;
      padding: 0 30rpx;
      display: flex;
      justify-content: space-between;
      padding-bottom: 25rpx;
      .f1 {
        flex: 1;
        text-align: left;
        image {
          width: 32rpx;
          height: 32rpx;
          vertical-align: middle;
        }
        .heart {
          font-size: 28rpx;
          position: relative;
          top: 3rpx;
          margin-left: 10rpx;
          font-weight: lighter;
        }
      }
      .f2 {
        flex: 1;
        text-align: center;
        image {
          width: 30rpx;
          height: 30rpx;
          vertical-align: middle;
        }
        .chat {
          font-size: 28rpx;
          position: relative;
          top: 3rpx;
          margin-left: 10rpx;
          font-weight: lighter;
        }
      }
      .f3 {
        flex: 1;
        text-align: right;
        image {
          width: 30rpx;
          height: 30rpx;
          vertical-align: middle;
        }
        .zan {
          font-size: 28rpx;
          position: relative;
          top: 3rpx;
          margin-left: 10rpx;
          font-weight: lighter;
        }
      }
    }
  }  
  .do {
    border-radius: 10rpx;
    background-color: #fff;
    padding-bottom: 50rpx;
    margin: 0 18rpx;
    margin-bottom: 130rpx;
   
    .footer {
      height: 80rpx;
      line-height: 80rpx;
      margin-top: 20rpx;
      padding: 0 65rpx;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--colorGray);
      .f1 {
        flex: 1;
        text-align: left;
        image {
          width: 28rpx;
          height: 28rpx;
          vertical-align: middle;
        }
        .heart {
          font-size: 28rpx;
          position: relative;
          top: 3rpx;
          margin-left: 10rpx;
          font-weight: lighter;
        }
      }
      .f2 {
        flex: 1;
        text-align: center;
        image {
          width: 30rpx;
          height: 30rpx;
          vertical-align: middle;
        }
        .chat {
          font-size: 28rpx;
          position: relative;
          top: 3rpx;
          margin-left: 10rpx;
          font-weight: lighter;
        }
      }
      .f3 {
        flex: 1;
        text-align: right;
        image {
          width: 30rpx;
          height: 30rpx;
          vertical-align: middle;
        }
        .zan {
          font-size: 28rpx;
          position: relative;
          top: 3rpx;
          margin-left: 10rpx;
          font-weight: lighter;
        }
      }
    }
    .pl-wrap {
      .pl {
        padding: 30rpx 30rpx 0 30rpx;
        .headPic {
          float: left;
          width: 60rpx;
          height: 60rpx;
          background-size: contain;
          border-radius: 50%;
        }
        .info-wrap {
          width: 570rpx;
          float: right;
          .info {
            line-height: 60rpx;
            .name {
              color: @color_icon;
              float: left;
              font-size: 30rpx;
            }
            .heart-num {
              float: right;
              color: @color_icon;
              margin-right: 10rpx;
            }
            image {
              margin-top: 15rpx;
              line-height: 60rpx;
              float: right;
              width: 30rpx;
              height: 30rpx;
              vertical-align: middle;
            }
          }
          .pl-con {
            display: inline-block;
            margin-top: 5rpx;
            font-size: 32rpx;
          }
          .pl-foot {
            margin-top: 10rpx;
            .date {
              font-size: 22rpx;
              color: @color_icon;
              position: relative;
              margin-right: 20rpx;
              vertical-align: middle;
              &::after {
                display: block;
                content: '';
                width: 1rpx;
                height: 26rpx;
                position: absolute;
                right: -20rpx;
                top: 5rpx;
                border-right: 1px solid @color_icon;
              }
            }
            .reply {
              height: 34rpx;
              line-height: 34rpx;
              padding: 0 15rpx;
              margin-left: 20rpx;
              font-size: 24rpx;
              border-radius: 17rpx;
              background-color: var(--colorGray);
              vertical-align: middle;
            }
            .reply-btn {
              height: 34rpx;
              line-height: 34rpx;
              padding: 0 15rpx;
              margin-left: 20rpx;
              font-size: 24rpx;
              border-radius: 17rpx;
              background-color: var(--colorGray);
              vertical-align: middle;
            }
            .delete {
              width: 35rpx;
              height: 24rpx;
              line-height: 24rpx;
              float: right;
              color: #aaa;
              text-align: center;
              vertical-align: middle;
              margin-top: 10rpx;
            }
          }
          .pl-reply-wrap {
            .pl-reply-con {
              padding: 30rpx 30rpx 0 0;
              .reply-headPic {
                float: left;
                width: 60rpx;
                height: 60rpx;
                background-size: contain;
                border-radius: 50%;
              }
              .reply-info-wrap {
                width: 458rpx;
                float: right;
                .reply-info {
                  line-height: 60rpx;
                  .reply-name {
                    color: @color_icon;
                    float: left;
                    font-size: 30rpx;
                  }
                  .reply-heart-num {
                    float: right;
                    color: @color_icon;
                    margin-right: 10rpx;
                  }
                  image {
                    margin-top: 15rpx;
                    line-height: 60rpx;
                    float: right;
                    width: 30rpx;
                    height: 30rpx;
                    vertical-align: middle;
                  }
                }
                .reply-pl-con {
                  display: inline-block;
                  margin-top: 5rpx;
                  font-size: 32rpx;
                  // vertical-align: middle;
                  .reply-pl-toname {
                    display: inline-block;
                    margin-top: 20rpx;
                    color: @color_icon;
                    font-size: 28rpx;
                    .reply-pl-reply {
                      color: #489CD7;
                    }
                  }
                }
                .reply-pl-foot {
                  margin-top: 8rpx;
                  .reply-date {
                    font-size: 22rpx;
                    color: @color_icon;
                    position: relative;
                    vertical-align: middle;
                    &::after {
                      display: block;
                      content: '';
                      width: 1rpx;
                      height: 26rpx;
                      position: absolute;
                      right: -20rpx;
                      top: 5rpx;
                      border-right: 1px solid @color_icon;
                    }
                  }
                  .reply-btn {
                    height: 34rpx;
                    line-height: 34rpx;
                    padding: 0 15rpx;
                    margin-left: 40rpx;
                    font-size: 24rpx;
                    border-radius: 17rpx;
                    background-color: var(--colorGray);
                    vertical-align: middle;
                    position: relative;
                    // top: 3rpx;
                  }
                  .delete {
                    width: 35rpx;
                    height: 24rpx;
                    line-height: 24rpx;
                    float: right;
                    color: #aaa;
                    text-align: center;
                    vertical-align: middle;
                    margin-top: 10rpx;
                    margin-right: -30rpx;
                  }
                }
              }
              .big-width {
                width: 537rpx;
                .reply-pl-con {
                  width: 575rpx;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
    .no-reply {
      text-align: center;
      margin-top: 20rpx;
      color: #666
    }
  }
  .write-pl {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120rpx;
    padding-left: 30rpx;
    z-index: 3;
    background-color: #fff;
    border-top: 1rpx solid #ccc;
    .input {
      background-color: var(--colorGray);
      height: 55rpx;
      line-height: 55rpx;
      color: #666;
      width: 310rpx;
      margin-top: 20rpx;
      border-radius: 28rpx;
      padding-left: 30rpx;
    }
    .zhuanfa {
      width: 35rpx;
      height: 35rpx;
      position: absolute;
      right: 80rpx;
      top: 30rpx;
    }
  }

  .dialog-wrap {
    background-color: #0002;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    
    .dialog {
      width: 100vw;
      height: 427rpx;
      background-color: #fff;
      position: fixed;
      left: 0;
      bottom: 0;
      border-top-left-radius: 25rpx;
      border-top-right-radius: 25rpx;
      .top {
        padding: 0rpx 40rpx 0;
        height: 300rpx;
        padding-top: 35rpx;
        // border-bottom: 1rpx solid #dfdfdf;
        color: #333;
        text-align: center;
        .text {
          font-size: 34rpx;
          color: #333;
        }
        .item-wrap {
          margin-top: 45rpx;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .item {
            font-weight: normal;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            background-color: transparent;
            image {
              width: 100rpx;
              height: 100rpx;
            }
            .title {
              margin-top: 20rpx;
              color: #333;
              font-size: 26rpx;
            }
          }
        }
      }
      .blank {
        height: 17rpx;
        background-color: #f7f7f7;
      }
      .bottom {
        text-align: center;
        line-height: 120rpx;
        font-size: 34rpx;
        color: #333;
      }
    }
  }

  .pinglun-wrap{
    height: 100vh;
    width: 100vw;
    background-color: #0002;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;

    .pinglun {
      width: 100%;
      background-color: #fff;
      position: fixed;
      border-top-left-radius: 25rpx;
      border-top-right-radius: 25rpx;
      padding: 30rpx 30rpx 0;
      z-index: 5;
      .top-wrap {
        textarea {
          width: 590rpx;
          height: 160rpx;
          transition: height 0.5s;
          border-radius: 25rpx;
          padding: 20rpx 30rpx;
          background-color: var(--colorGray);
        }
        image {
          width: 50rpx;
          height: 50rpx;
          position: absolute;
          right: 50rpx;
          top: 30rpx;
        }
      }
      .pic-wrap {
        padding-top: 20rpx;
        margin-bottom: 20rpx;
        image {
          width: 40rpx;
          height: 40rpx;
          vertical-align: middle;
        }
        .send {
          font-size: 34rpx;
          float: right;
          margin-right: 15px;
          color: #969696;
        }
        .send-left {
          font-size: 34rpx;
          float: left;
          margin-left: 20rpx;
          color: #969696;
          margin-bottom: 20rpx;
        }
      }
    }
  }
}