@color_gray: #4f4f4f;
@color_icon: #aaa;
@color_orange: #ff7e17;
@color_blue: #489CD7;
@font_size_28: 28;
@font_size_36: 36;
@font_size_45: 45;
@font_size_48: 48;

.clearfix::after{
  display: block;
  content: '';
  clear: both;
}

.wrapper {
  .blank {
    height: 16rpx;
    background-color: transparent;
  }
  .comment {
    background-color: #fff;
    width: 718rpx;
    margin-left: 16rpx;
    padding: 18rpx 34rpx 0;
    border-radius: 10rpx;
    position: relative;
    box-shadow: 0 0 10rpx 0 #F2F2F2;
    .item {
      .headPic {
        width: 82rpx;
        height: 82rpx;
        border-radius: 41rpx;
        background-size: 100% 100%;
      }
      .info {
        width: calc(100% - 105rpx);
        float: right;
        .info-top {
          .name {
            max-width: 450rpx;
            height: 56rpx;
            line-height: 56rpx;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 26rpx;
            font-weight: bold;
            color: #666;
            position: absolute;
            top: 18rpx;
            left: 130rpx;
            image {
              width: 26rpx;
              height: 26rpx;
              vertical-align: middle;
              position: relative;
              top: -2rpx;
            }
          }
          .video {
            height: 36rpx;
            line-height: 34rpx;
            padding: 0 20rpx;
            border-radius: 21rpx;
            color: #fff;
            position: absolute;
            top: 30rpx;
            right: 36rpx;
            background-color: #43D7B5;
            font-size: 22rpx;
          }
        }
        .info-bottom {
          font-size: 20rpx;
          color: @color_icon;
          position: absolute;
          left: 130rpx;
          top: 74rpx;
          height: 28rpx;
          line-height: 28rpx;
          .time {
            margin-left: 10rpx;
          }
        }
      }
  
    }
    .desc {
      line-height: 44rpx;
      font-size: 32rpx;
      margin-top: 28rpx;
    }
    .img {
      margin-top: 20rpx;
      display: flex;
      justify-content: space-between;
      image {
        width: 206rpx;
        height: 206rpx;
        border-radius: 15rpx;
      }
    }
    .footer {
      margin-top: 25rpx;
      padding: 0 30rpx;
      display: flex;
      justify-content: space-between;
      padding-bottom: 22rpx;
      .f1 {
        flex: 1;
        text-align: left;
        image {
          width: 32rpx;
          height: 32rpx;
          vertical-align: middle;
        }
        .heart {
          font-size: 28rpx;
          position: relative;
          top: 3rpx;
          margin-left: 10rpx;
          font-weight: lighter;
        }
      }
      .f2 {
        flex: 1;
        text-align: center;
        image {
          width: 30rpx;
          height: 30rpx;
          vertical-align: middle;
        }
        .chat {
          font-size: 28rpx;
          position: relative;
          top: 3rpx;
          margin-left: 10rpx;
          font-weight: lighter;
        }
      }
      .f3 {
        flex: 1;
        text-align: right;
        image {
          width: 30rpx;
          height: 30rpx;
          vertical-align: middle;
        }
        .zan {
          font-size: 28rpx;
          position: relative;
          top: 3rpx;
          margin-left: 10rpx;
          font-weight: lighter;
        }
      }
    }
  }
}