@borderWidth: 50rpx;
@gray: #bbb;
.wrap {
  height: 100vh;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 15rpx;
    background-color: var(--colorGray);
  }
  
  .con {
    padding: 30rpx;
    margin-bottom: 100rpx;
    textarea {
      width: 690rpx;
      height: 200rpx;
      font-size: 32rpx;
      line-height: 40rpx;
      max-height: 500rpx;
      // border: 1px solid var(--colorGray)
    }
    .item-wrap {
      margin-top: 5rpx;
      .img-wrap {
        position: relative;
        float: left;
        width: 220rpx;
        height: 220rpx;
        margin-right: 15rpx;
        margin-top: 15rpx;
        border: 1px solid gray;
        image {
          width: 100%;
          height: 100%;
          // border: 1rpx solid #ccc;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
        .img-close {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 40rpx;
          width: 50rpx;
          height: 50rpx;
          text-align: center;
          line-height: 50rpx;
          background-color: #fffa;
        }
        &:last-child {
          border: 1px solid @gray;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .top {
            display: flex;
            .left-top{
              width: @borderWidth;
              height: @borderWidth;
              border-right: 1px solid @gray;
              border-bottom: 1px solid @gray;
            }
            .right-top {
              width: @borderWidth;
              height: @borderWidth;
              // border-left: 1px solid @gray;
              border-bottom: 1px solid @gray;
            }
          }
          .bottom {
            display: flex;
            .left-bottom{
              width: @borderWidth;
              height: @borderWidth;
              border-right: 1px solid @gray;
              // border-top: 1px solid @gray;
            }
            .right-bottom {
              width: @borderWidth;
              height: @borderWidth;
              // border-left: 1px solid @gray;
              // border-top: 1px solid @gray;
            }
          }
        }
      }
    }
    .con-foot {
      margin-top: 20rpx;
      image {
        width: 40rpx;
        height: 40rpx;
        vertical-align: middle;
      }
      .school {
        margin-left: 10rpx;
        font-size: 24rpx;
        color: #aaa;
      }
      .fishing {
        float: right;
        height: 40rpx;
        line-height: 35rpx;
        font-size: 24rpx;
        padding: 0 20rpx;
        border-radius: 22rpx;
        vertical-align: middle;
        color: #999;
        border: 1px solid #999;
      }
    }
  }
  .footer {
    width: 100%;
    height: 100rpx;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: '';
      position: absolute;
      top: -18rpx;
      width: 100%;
      height: 18rpx;
      background-color: var(--colorGray);
    }
    image {
      width: 50rpx;
      height:50rpx;
    }
    // .img1{
    //   margin-left: 30rpx;
    // }
    // .img2{
    //   margin-left: 115rpx;
    // }
    .img3{
      // margin-left: 115rpx;     
      margin-right: 400rpx;
    }
    .btn {
      // margin-left: 200rpx;
      text-align: center;
      margin-left: 15rpx;
      width: 130rpx;
      height: 50rpx;
      line-height: 48rpx;
      font-size: 32rpx;
      color: white;
      background-color: #ff7e17;
      border-radius: 10rpx;
    }
    .avatar {
      width: 60rpx;
      height: 60rpx;
      border-radius: 50%;
    }
  }
}